/*
            .---._------------------------------+
___________/ ._____)                            |
              ) __|          DOKKERMAN          |
                __|   and the turkeying fellaz  |
..---------.._____|                             |
                  +-----------------------------+
 */

h1 {
	font-family: "Blackout";
	line-height: 0.8;
	text-align: center;
}

h1 span {
	clear: both;
	display: block;
}

#postsFromFacebook {
	-webkit-column-count: 5;
	-webkit-column-gap: 10px;
	-webkit-column-fill: auto;
	-moz-column-count: 5;
	-moz-column-gap: 10px;
	-moz-column-fill: auto;
	column-count: 5;
	column-gap: 10px;
	column-fill: auto;
}

.item {
	background-color: #EEEEEE;
	padding: 15px;
	margin-bottom: 10px;
	overflow: hidden;
	word-wrap:break-word;

	display: inline-block;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
}

.item a, .item p, .item h3 {
	word-wrap:break-word;
	word-break:break-all;
}

@media only screen and ( max-width: 40em ) /* 640px */
{

	#postsFromFacebook {
		-webkit-column-count: 3;
		-webkit-column-gap: 10px;
		-webkit-column-fill: auto;
		-moz-column-count: 3;
		-moz-column-gap: 10px;
		-moz-column-fill: auto;
		column-count: 3;
		column-gap: 10px;
		column-fill: auto;
	}

	.item {
		margin-bottom: 0.938em; /* 15px */
	}
}

@media only screen and ( max-width: 25em ) /* 320px */
{
	#postsFromFacebook {
		width: 100%;
		margin-left: 0;
	}
	
	.item {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
}