/*
            .---._------------------------------+
___________/ ._____)                            |
              ) __|          DOKKERMAN          |
                __|   and the turkeying fellaz  |
..---------.._____|                             |
                  +-----------------------------+
 */

h1 {
	font-family: "Blackout";
	line-height: 0.8;
	text-align: center;
}

h1 span {
	clear: both;
	display: block;
}
